#link{
margin-left:500px;
}
a{
margin-left: 50px;
text-decoration: none;
}
h1{
color: red;
margin-left: 450px;
}

hr{
height: 20px;
background:black;
}
p{
padding-left: 40px;
padding-right: 40px;
}
button{
background: white;
border:1px solid red;
}
footer{
outline: dotted;
outline-style: inset;
outline-width: medium;
background: grey;
text-align: center
}
h2{
  text-decoration: underline;
}
